#########################################################################
#
# Configuration File for SpicyMango
#
# SpicyMango written by: Chris Centore, Steve Swann, Jason Gunnoe
# Website: http://code.google.com/p/spicymango/
# Download: svn co http://spicymango.googlecode.com/svn/trunk/ spicymango/
#
#########################################################################

# Global Configuration Options
#########################################################################
# Enable the web view (Very Experimental)
WEB_VIEW=OFF
WEB_VIEW_IP="127.0.0.1"
WEB_VIEW_PORT=8080

# MOD_IRC by: Chris Centore
# Collects data from IRC channels
#########################################################################
# Enable IRC module
MOD_IRC=OFF

# IRC Server
MOD_IRC_SERVER="irc.freenode.com"

# IRC Channel(s): Seperate channels with a comma. (i.e. "spicymango","anotherchannel")
MOD_IRC_CHANNELS="spicymango"

# IRC User
MOD_IRC_USER="spicybot"

# Number of entries to tail after a match on a keyword
MOD_IRC_TAIL=5


# MOD_TWITTER by: Jason Gunnoe
# Searches Twitter using its API
#########################################################################
# Enable Twitter module
MOD_TWITTER=OFF

# How many post to query at a time
MOD_TWITTER_COUNT=5

# Set the interval (in seconds) that MOD_TWITTER will query the api
MOD_TWITTER_INTERVAL=5


# Output Options
#########################################################################
# The default output goes to the console.
# Output to file
OUTPUT_FILE=OFF
# Specify FULL output file path
OUTPUT_FILE_NAME="/full/path/to/outputfile"
