#########################################################################
#
# Configuration File for SpicyMango
#
# SpicyMango written by: Chris Centore, Steve Swann, Jason Gunnoe
# Website: http://code.google.com/p/spicymango/
# Download: svn co http://spicymango.googlecode.com/svn/trunk/ spicymango/
#
#########################################################################

# Global Configuration Options
#########################################################################
# Enable the web view (Very Experimental)
WEB_VIEW=OFF
WEB_VIEW_IP="127.0.0.1"
WEB_VIEW_PORT=8080
# WEB_VIEW_DATA_SRC accepts 'FILE' & 'SQLITE3'
WEB_VIEW_DATA_SRC=FILE

# MOD_IRC by: Chris Centore
# Collects data from IRC channels
#########################################################################
# Enable IRC module
MOD_IRC=OFF

# IRC Server
MOD_IRC_SERVER="irc.freenode.com"

# IRC Channel(s): Seperate channels with a comma. (i.e. "spicymango","anotherchannel")
MOD_IRC_CHANNELS="spicymango","spicychan43"

# IRC User
MOD_IRC_USER="spicybot"

# Number of entries to tail after a match on a keyword
MOD_IRC_TAIL=5


# MOD_TWITTER by: Jason Gunnoe
# Searches Twitter using its API
#########################################################################
# Enable Twitter module
MOD_TWITTER=OFF

# How many post to query at a time
MOD_TWITTER_COUNT=5

# Set the interval (in seconds) that MOD_TWITTER will query the api
MOD_TWITTER_INTERVAL=5

# MOD_FBSEARCH by: Jason Gunnoe
# Searches Facebook using its API
#########################################################################
# Enable Facebook search module
MOD_FACEBOOK=OFF
#
# Set the interval (in seconds) that MOD_TWITTER will query the api
MOD_FACEBOOK_INTERVAL=30


# Output Options
#########################################################################
# If no output destination is enabled, output goes to the console.
# Output to file
OUTPUT_FILE=OFF
# Specify FULL output file path
OUTPUT_FILE_NAME="/path/to/outputfile"

# Output to Sqlite3 Database
OUTPUT_SQLITE3=OFF
# Specify FULL output DB path
OUTPUT_SQLITE3_DB_PATH="/path/to/dbfile"

# Output to the console (Default if no output is enabled)
OUTPUT_CONSOLE=OFF
