body { 
	background-color: #b5afaf; 
}
#version { 
	font-family: Cambria,'Palatino Linotype','Book Antiqua','URW Palladio L',serif;
	font-size: 15px;
	color: #766f6f; 
}
#data-table {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	font-family: Verdana,Geneva,'DejaVu Sans',sans-serif;
	font-size: 12px;
	color: #363636;
}

#data-table a:link    { color: #6d6d6d; }
#data-table a:visited { color: #805964; }
#data-table a:hover   { color: #b1b1b1; }
#data-table a:active  { color: #b1b1b1; } 

#data-table td {
	padding: 4px;
}
tr.evenrow {
	background-color: #dddddd;
}
tr.oddrow {
	background-color: #d4d4d4;
}

tr.titles {
	background-color: #333333;
	color: #b5afaf;
}
